* {
    font-family: Roboto; 
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

.header {
    display: flex;
    flex:1;
    background-color: #1f2937;
    color: #e5e7eb;;
    gap: 10px;
}

.header-logo {
    display: flex;
    flex: 3;
    gap: 20px;
    justify-content: center;
    font-weight: bold;
}

.header-link-one, .header-link-two, .header-link-three {
    display: flex;
    flex:1;
    width: 100px;
}

.header-link-three {
    margin-right: 100px;
    min-width: fit-content;
    flex-shrink: 0;
}

.hero {
    display: flex;
    background-color: #1f2937;
    color: #e5e7eb;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
   
}

img {
    width: 400px;
    margin: 100px;
}

h2 {
    text-align: center;
    padding: 50px;
    font-weight: 36px;
    color: #1f2937;

}

button {
    color: #e5e7eb;
    background-color: #3882f6;
    width: 100px;
    line-height: 100px;
    border: 0;
    border-radius: 15px;
}

.buttons {
    display: flex;
    Justify-content: center;
    gap: 50px;
}

.text {
    display: flex;
    flex-direction: column;
}

.description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin-bottom: 100px;
}    

p {
   max-width: 100px;
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    flex-direction: column;
    font-size: 36px;
    font-weight: lighter;
    background-color: #e5e7eb;

}

.sig {
   display: flex; 
   justify-content: end;
   align-items: end;
   font-weight: bolder;
   font-size: 26px;
   padding-left: 40%;
}

.call-text {
    display: flex;
    flex-direction: column;
}

.call {
    display: flex;
    justify-content: center;
    background-color: #3882f6;
    align-items: center;
    margin: 100px;
    padding:50px;
    gap: 25px;
}

.sign-up {
    width: 100px;
    line-height: 25px;
    border:1px solid #1f2937;
    gap: 10px;
}

footer {
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    padding: 10px;
}